@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family: "JetBrains Mono", monospace;
    --font-weight: 400;
    --bg-color: theme("colors.black");
    --text-color: theme("colors.white");
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    background: var(--bg-color);
    color: var(--text-color);
  }

  .home-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      url("../assets/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section-heading:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: theme("colors.indigo.500");
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-info li {
    padding: 12px 0;
  }

  .about-info li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
